
.container span{
    padding-left: 30px;
    white-space: inherit;
    word-wrap: break-word;
}
.container{
    border-radius: 1px;
    border-style:double;
    border-color: #4f5f52;
    box-shadow: inset 0px 0px 90px -19px rgba(101, 147, 110, 0.485);
    background-color: white;
    padding: 15px;
}
.btn-danger{
    margin:15px;
}

.btn-asignar{
    margin:15px;
    color: white;
    background-color: rgb(26, 83, 190);
}

.btn-editar {
    margin:15px;
    color: white;
    background-color: rgb(224, 160, 20);
  }