h1{
    text-align: center;
    margin: 20px;
}
div.row{
    background-color:  #f5eeed;
    border-radius: 35px;
    /* box-shadow: 0px 0px 57px 9px rgba(114,171,168,0.27); */
    margin:50px;
    padding: 25px;
}
.btn-outline-success{
    background-color: #e7fbea;
    text-align: center;
}