<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} dieta</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre asignar')"></button>
  </div>
  <div class="container">
      <div class="row">
        <h1>Lista de clientes</h1>
        <div class="list-group">
  
          <button *ngFor="let cliente of clientes"
            class="list-group-item list-group-item-action"
            (click)="elegirCliente(cliente)"
            [class.active]="cliente === clienteElegido">{{cliente.dni}}</button>
        </div>
        <br>
        <button type="button" class="btn btn-outline-primary bi bi-plus-lg" (click)="asignarDieta()"> Asignar</button>
  
  
      </div>
</div>
  